{% extends 'personas/base.html' %}


{% block sesion_avatar %}    
    <!-- optimizacion-->
    <div class="row justify-content-lg-center justify-content-sm-center bg-light panel panel-default">
      
    {% if request.user.is_authenticated %}
        
        
        <div class="col-auto panel-body">
            {% if perfil_usuario.retrato.thumbnail.url %}
                <img  src="{{perfil_usuario.retrato.thumbnail.url}}"  class="img-circle " alt="...">  
            {% else %}
            <img  src="https://cdn.icon-icons.com/icons2/1508/PNG/512/systemusers_104569.png" width="100" height="100" class=" img-circle " alt="...">
            {% endif %}                                              
        </div>

        <div class="col-auto panel-body">
                <strong class="text-primary"> {{usuario_conectado.nombre1}} {{usuario_conectado.apellido1}}</strong> <em>is in da house!..</em></p>                 
        </div>
        
    {%else %}
        <div class="col-6 panel-body">
            <img  src="https://cdn.icon-icons.com/icons2/1508/PNG/512/systemusers_104569.png" width="100" height="100" class=" img-circle " alt="...">
        </div>

        <div class="col-auto panel-body">
            Invitado
        </div>
    {% endif %}
    </div>
   
{% endblock %}





{% block sesion %}
<div class="row justify-content-md-center ">
     <!--si esta logeado muestra algo-->
    {% if request.user.is_authenticated %}
        <div class="col-12 bg-light mb-4">                             
            <a class="btn btn-danger" href="/logout">Cerrar sesión</a>   
        </div>
   
    <!--si no  esta logeado muestra algo-->
    {% else %}
        <div class="panel col-12  panel-default bg-light ">
            <div class=" panel-body">
                Log in
            </div> 
            <div class=" panel-body">
                <form method="POST" class="post-form"  autocomplete="off">{% csrf_token %}       
                    <input type="hidden" name="modelo"  value="sesion" class="form-control" id="formGroupExampleInput" placeholder="usuario">   
                    <div class="col-12">            
                        <div class="form-group">                   
                            <input type="text" name="usuario" class="form-control" id="formGroupExampleInput" placeholder="usuario">
                        </div>
                    </div>
        
                    <div class="col-12 ">            
                        <div class="form-group">                    
                            <input type="password" name="contraseña" class="form-control" id="inputPassword2" placeholder="password">
                        </div>
                    </div>
        
                    <div class="col-12 ">            
                        <button type="submit" class="btn btn-warning mb-2">Iniciar sesion</button>                
                    </div>
        
                    <div class="col-12 ">            
                        <a href="{% url 'personas:crear_cuenta'%}" class="text-primary stretched-link">Sign up</a>
                    </div>
                    
                    <div class="col-12 ">            
                        <a href="#" class="text-primary stretched-link">forgot pass</a>
                    </div>

                    <div class="col-12 "> 
                        <div class="row justify-content-md-center bg-light">
                            <div class="col-auto"> 
                                or with
                            </div>
                        </div>           
                        
                    </div>

                    <div class="col-12 ">    
                        <div class="row">
                            <div class="col-6">
                                <a class="navbar-brand" href="#">
                                    <img src="https://img.icons8.com/plasticine/100/000000/facebook-new.png" width="35" height="35" alt="">                                    
                                  </a>                                
                            </div>

                            <div class="col-6">                                
                                <a class="navbar-brand" href="#">
                                    <img src="https://img.icons8.com/plasticine/100/000000/google-logo.png" width="35" height="35" />                        
                                </a> 
                            </div>
                        </div>                                                                          
                    </div>

                    
                </form>
                
            </div> 
        </div>

        
    {% endif %}
</div>   
{% endblock %}






{% block perfil %}
    <!-- optimizacion-->
    <div class="row justify-content-md-center bg-info panel panel-default">
    {% if request.user.is_authenticated %}
        <div class="col text-info bg-light">
            <img src="https://img.icons8.com/carbon-copy/100/000000/settings.png" width="35" height="35"/>
                Mis opciones
                <div id="accordion">
                    
                    <!--MIS PROYECTOS-->
                    <div class="card bg-light mb-2">

                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <strong>Mis Proyectos</strong>
                              </button>
                            </h5>
                        </div>
                      
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body text-dark">
                                <ul>
                                    {% for p in proyectos_usuario %}
                                        <li><a href="{% url 'personas:detalle_proyecto2' p.id %}">{{p.nombre_proyecto}}</a> </li>
                                    {% endfor %}
                                </ul>   
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#exampleModalProyectoNuevo">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true">  Proyecto</span>
                                            </button>
                                        </div>

                                    </div>

                                   
                            </div>
                          </div>    
                                                  

                    </div>





                    <!--MIS HERRAMIENTAS-->
                    <div class="card bg-light mb-2">

                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <strong>Mis Herramientas</strong>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body text-dark bg-light">

                               {% for c in categorias_usuario %}
                                    <button type="button" class="btn btn-link text-success" data-toggle="modal" data-target="#exampleModalCategoria{{c.id}}"> <strong>{{c.nombre_categoria}}</strong></button>

                                    <ul>
                                        {% for h in herramientas_usuario %}                                            
                                            {% if h.categoria == c %}
                                                <li> <button type="button" class="btn btn-link text-info" data-toggle="modal" data-target="#exampleModalHerramienta{{h.id}}"> {{h.nombre_herramienta}}</button></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>                                   
                               {% endfor %}
                               <!--botones de creacion-->
                                <div class="row justify-content-md-center">
                                        
                                    <button type="button" class="btn btn-default col-lg-6 col-sm-12" aria-label="Left Align" data-toggle="modal" data-target="#exampleModalCategoriaCrear">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"> Categoria</span>
                                    </button>
                
                            
                                    <button type="button" class="btn btn-default col-lg-6 col-sm-12" aria-label="Left Align" data-toggle="modal" data-target="#exampleModalHerramientaCrear" >
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"> Herramienta</span>
                                    </button>
                                
                                </div>     

                            </div>

                             

                        </div>                      
                    </div>






                    <!--MI PERFIL-->
                    <div class="card bg-light mb-4">
                        <div class="card-header" id="heading4">
                            <h5 class="mb-0">
                              <button class="btn btn-link " data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                  <strong>Mi Perfil</strong>
                              </button>
                            </h5>
                        </div>

                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                            <div class="card-body text-dark">    
                                <div class="form-group">
                                    <label class="text-info">Alma mater</label><br>
                                    <label for="formGroupExampleInput">"<em>{{perfil_usuario.alma_mater}}</em>"</label>
                                </div>

                                <div class="form-group">
                                    <label class="text-info">carrera</label><br>
                                    <label for="formGroupExampleInput">"<em>{{perfil_usuario.carrera}}</em>"</label>                                       
                                </div>                                    
                                
    
                                <div class="form-group">
                                    <label class="text-info">Descripcion</label><br>
                                    <label >"<em>{{perfil_usuario.descripcion}}</em>"</label>                                    
                                </div>  
                                <button type="button" class="btn btn-link text-info" data-toggle="modal" data-target="#exampleModalPerfil"> <li> Editar perfil</li></button>
                                <button type="button" class="btn btn-link text-info" data-toggle="modal" data-target="#exampleModalPerfil"> <li> ProjectResume</li></button>
                                <div class="row">
                                    <div class="col-12">
                                        <ul>
                                          <li><a href="{% url 'personas:informar_problema' %}">informar un problema</a></li>
                                        </ul>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
        </div>
    {% else %}

    {% endif %}
    </div>

    
<!-- declaracion de los modals para  CATEGORIA -->
{% for c in categorias_usuario %}
<!-- Modal editar- borrar -->
<div class="modal fade" id="exampleModalCategoria{{c.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">

         <div class="modal-content">

             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Opciones de  categoria en:    <strong>{{c.nombre_categoria}}</strong></h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>

             <div class="modal-body">
                  <!-- formulario editar categoria-->
                  <form method="POST" class="post-form"  autocomplete="off" >{% csrf_token %}
                    <input type="hidden" id="categoria_id" name="categoria_id" value="{{c.id}}">
                    <input type="hidden" id="operacion" name="operacion" value="editar">
                    <input type="hidden" id="modelo" name="modelo" value="categoria">
                    {{form_edit_categorias.as_p}}                        
                    <button type="submit" class="btn btn-warning text-white mb-4">Guardar</button>
                                                                           
                </form>
                <!-- formulario para borrar la categoria-->
                <form method="POST" class="post-form"  autocomplete="off" >{% csrf_token %}
                   <input type="hidden" id="categoria_id" name="categoria_id" value="{{c.id}}">
                   <input type="hidden" id="operacion" name="operacion" value="borrar">
                   <input type="hidden" id="modelo" name="modelo" value="categoria">
                   {{form_delete_categoria.as_p}}                    
                   <button type="submit" class="btn btn-danger text-white mb-4">Borrar</button>   
                        
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>                            
                            <small>se eliminara todas las herramientas dentro de esta categoria</small>
                        </div>                

                </form>
                 
             </div>

             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             </div>
         </div>

     </div>
 </div>
{% endfor %}

<!-- Modal crear categoria -->
<div class="modal fade" id="exampleModalCategoriaCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nueva categoria </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                 <!-- formulario editar categoria-->
                 <form method="POST" class="post-form"  autocomplete="off" >{% csrf_token %}
                    <input type="hidden" id="id_usuario" name="id_usuario" value="{{usuario_conectado.id}}">
                   <input type="hidden" id="operacion" name="operacion" value="crear">
                   <input type="hidden" id="modelo" name="modelo" value="categoria">
                   {{form_create_categoria.as_p}}                       
                   <button type="submit" class="btn btn-primary mb-4">Crear</button>                                                         
               </form>                              
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>


 
<!-- declaracion de los modals para  HERRAMIENTA-->
{% for h in herramientas_usuario %}
<!-- Modal -->
<div class="modal fade" id="exampleModalHerramienta{{h.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">

         <div class="modal-content">

             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Opciones de  herramienta en:  <strong>{{h.nombre_herramienta}}</strong></h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>

             <div class="modal-body">

                 <!-- formulario para editar herramienta-->
                 <form method="POST" class="post-form"  autocomplete="off" >{% csrf_token %}
                     <input type="hidden" id="herramienta_id" name="herramienta_id" value="{{h.id}}">
                     <input type="hidden" id="operacion" name="operacion" value="editar">
                     <input type="hidden" id="modelo" name="modelo" value="herramienta">
                     {{form_edit_herramientas.as_p}}                         
                     <button type="submit" class="btn btn-warning text-white mb-4">Guardar</button>     
                     

                 </form>
                 <!-- formulario para borrar la herramienta-->
                 <form method="POST" class="post-form"  autocomplete="off">{% csrf_token %}
                    <input type="hidden" id="herramienta_id" name="herramienta_id" value="{{h.id}}">
                    <input type="hidden" id="operacion" name="operacion" value="borrar">
                    <input type="hidden" id="modelo" name="modelo" value="herramienta">
                    {{form_delete_herramienta.as_p}}
                                       
                        <button type="submit" class="btn btn-danger text-white mb-4">Borrar</button>   
                        
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            
                            <small>se eliminara esta herramienta de todos los proyectos</small>
                        </div> 
                 </form>
             </div>

             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             </div>
         </div>

     </div>
 </div>
{% endfor %}


<!-- Modal crear herramienta -->
<div class="modal fade" id="exampleModalHerramientaCrear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nueva herramienta </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                 <!-- formulario editar categoria-->
                 <form method="POST" class="post-form"  autocomplete="off">{% csrf_token %}                    
                   <input type="hidden" id="operacion" name="operacion" value="crear">
                   <input type="hidden" id="modelo" name="modelo" value="herramienta">
                   
                   {{form_create_herramienta.as_p}}    
                   <label for="exampleFormControlFile1">¿Donde guardar?</label>
                    <select name="categoria" class="form-control mb-4" id="exampleFormControlFile1" required >
                        <option value="">Selecciona una Categoria</option>
                        {% for c in categorias_usuario %}
                            <option value="{{c.id}}">{{c.nombre_categoria}}</option>
                        {% endfor %}
                    </select>
                   
                   <button type="submit" class="btn btn-primary mb-4">Crear</button>                                                       
               </form>                              
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>
   

   <!-- Modal PERFIL-->
   <div class="modal fade" id="exampleModalPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editando Perfil de  <strong>{{usuario_conectado.nombre1}} {{usuario_conectado.apellido1}}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST" class="post-form"  autocomplete="off" >{% csrf_token %}
                    <input type="hidden" id="id_perfil" name="id_perfil" value="{{perfil_usuario.id}}">
                    <input type="hidden" id="modelo" name="modelo" value="perfil">
                    {{form_edit_perfil.as_p}}                          
                    <button type="submit" class="btn btn-warning text-dark mb-4" data-dismiss="modal">Guardar</button>                                                       
                </form>
            </div>

            <div class="modal-footer">                                                                              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Modal proyecto-->
<div class="modal fade" id="exampleModalProyectoNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Proyecto </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="POST" class="post-form"  autocomplete="off" >{% csrf_token %}
                    <input type="hidden" id="modelo" name="modelo" value="proyecto">
                    <input type="hidden" id="operacion" name="operacion" value="crear">
                    <input type="hidden" id="id_usuario" name="id_usuario" value="{{usuario_conectado.id}}">
                    {{form_create_proyecto.as_p}}                       
                    <button type="submit" class="btn btn-primary mb-2">Crear</button>                                                       
                </form>
            </div>

            <div class="modal-footer">                                                                              
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        
    </div>
</div>





{% endblock %}



 

